
configuration{
    display-drun:           "Power Menu: ";
}

@theme "~/.config/rofi/rofi_theme.rasi"

inputbar {
  children: [entry];
}

window {
    width:            20%;
    height:           15%;
    padding:          0;
    text-color:       @foreground;
    background-color: @background;
}

@import "~/.config/rofi/costom_colors.rasi"
